{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> DMAS Twitter Admin Panel</header>
      <p> Only administrators allowed! </p>
    </article>
  </div>
</section>