{{> mainmenu }}

<div>
  {{#if tweets}}
    <form method="POST" action="/tweets/deleteAll">
      <button class="ui icon submit button">
        <i class="delete icon"></i>
        Delete all Tweets
      </button>
    </form>
    <div class="ui cards">
      {{#each tweets}}
        {{> tweet}}
      {{/each}}
    </div>
  {{else}}
    <div class="message">
      Nothing to show here.
    </div>
  {{/if}}
</div>
