{{> mainmenu}}

<div class="ui grid">
  <div class="seven wide column">
    {{> tweetdetailpartial tweet}}
  </div>
  <div class="two wide column">
    <form action="/tweets/deleteComments" method="POST">
      <input type="hidden" name="id" value={{tweet._id}}>
      <button class="ui submit button">
        Delete All Comments
      </button>
    </form>
  </div>
  <div class="seven wide column">
    <div class="ui list">
      {{#each cmts}}
        <div class="item">
          {{> comment }}
        </div>
      {{/each}}
    </div>
  </div>
</div>